:root{
    --primary : #ffDa80;
    --card-bg : linear-gradient(to bottom left, #121212, #1b1a1a);

    --text : #000;
    --text2 : #97978c;
    --text-active : #fff;
}
@font-face {
    font-family: 'carrosB';
    src: url("./carrosB.otf");
}
@font-face {
    font-family: "carrosM";
    src: url("./carrosM.otf");
}
*,body{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "carrosM",sans-serif;
}
body{
    width : 100%;
}
#all-contain{
    width : 100vw;
    /* height: auto; */
    overflow: hidden;
}
.deco-gradient{
    position: absolute;
    top : -4%;
    left : -0.8%;
    width : 70px;
    height: 70px;
    background: var(--primary);
    border-radius: 50%;
    filter: blur(8px);
    opacity: .4;
}
#header-nav{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width : 100%;
    padding : 2.5% 3.2%;
    z-index: 5;
}
#header-nav .logo{
    font-size: 2em;
    font-weight: bold;
    font-family: "carrosB";
}
#header-nav .menus{
    display: flex;
    justify-content: end;
    /* align-items: center; */
    width : 80%;
    gap : 5%;
}
#header-nav .menus .options{
    display: flex;
    gap : 70px;
}
#header-nav .menus .options a{
    position: relative;
    font-size: 1em;
    text-decoration: none;
    color : var(--text2);
    transition: .4s;
}
#header-nav .menus .options a:hover{
    color : var(--text)
}
#header-nav .menus .options a::before{
    content : "";
    position: absolute;
    left : -10px;
    top : -5px;
    width : 8px;
    height: 8px;
    transition: .4s;
}
#header-nav .menus .options a.active::before, #header-nav .menus .options a:hover::before{

    border-top: 3px solid var(--text);
    border-left: 3px solid var(--text);
    border-radius: 4px;
}
#header-nav .menus .options a.active{
    color : var(--text);
}
#header-nav .menus .options .menu{
    display: inline-flex;
    flex-direction: column;
    gap : 15px;
    overflow: hidden;
}
#header-nav .menus .options .menu a:nth-child(1) i{
    font-size: .8em;
    margin-left: 5px;
}

#header-nav .menus .log a{
    font-size: .8em;
    text-decoration: none;
    padding : 10px 25px;
    border-radius: 20px;
}
#header-nav .menus .log a:nth-child(1){
    background: #121212;
    border: 2px solid #fff;
    color : #fff;
    mix-blend-mode: difference;
}
#header-nav .menus .log a:nth-child(2){
    margin-left: 10px;
    color : var(--text);
    background: var(--primary);
}

#header-nav .humberger{
    display: none;
    position: relative;
    width : 24px;
    height: 18px;
    border: none;
    background: none;
    cursor: pointer;
}
#header-nav .humberger span{
    position: absolute;
    right : 0;
    width: 100%;
    height: 3px;
    background: var(--text2);
    transition: .4s;
}
#header-nav .humberger span:nth-child(1){
    top : 0;
}
#header-nav .humberger span:nth-child(2){
    top : 8px;
}
#header-nav .humberger span:nth-child(3){
    bottom : 0;
}

@media (max-width : 850px){
    #header-nav .menus{
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0 5%;
        top : 0;
        right: 0;
        height: 100vh;
        width: 45%;
        border-radius: 50%;

        transition: .4s;
        transform: translateX(100%);
        background: var(--text);
    }
    #header-nav .menus.active{
        display: flex;
        border-radius: 0;
        transform: translateX(0);
        animation: enterNav .6s;
    }
    #header-nav .menus .options{
        flex-direction: column;
        gap : 35px;
    }
    #header-nav .menus .options a:hover{
        color : #fff;
    }
    #header-nav .menus .options .menu{
        transition: .3s;
    }
    #header-nav .menus .options a.active{
        color : var(--text-active);
    }
    #header-nav .humberger{
        display: inline-block;
    }
}
@media (max-width : 450px){
    #header-nav .menus{
        padding: 0 10%;
        width: 85%;
    }
}


/* partie animatio d'entre du navBar  */
@keyframes enterNav{
    from{
        transform: translateX(100%);
        border-radius: 50%;
    }
}

